.shopcategory-banner{
  display: block;
  /* margin:20px auto ; */
  width: 100%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0px 116px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 15px;
  border-radius: 40px ;
  border:1px solid #888;
}

.shopcategory-indexSort p span{
  font-weight: 600;
}

.shopcategory-product{
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
  column-gap: 20px;
}


.shopCategory-loadMore{
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 15px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  font-size: 18px;
  font-weight: 500;
  margin-top: 45px;
}



@media screen and  (max-width: 1280px) {
.shopcategory-product{
  margin: 36px;
}
}


.shopcategory-sort {
padding: 2px 5px
}

@media screen and (max-width: 665px){

.shopcategory-product {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px){
  .shopcategory-product {
      grid-template-columns: 1fr 1fr ;
    }
  
    .shopcategory-sort {
      padding: 2px 4px;
      font-size:10px;
   }
   
   .shopcategory-indexSort p {
    font-size: 12px;
   }


  .shopcategory-banner{
    width:100%;
  }

    .shopcategory-product {
      margin: 23px;
      row-gap: 30px;
      column-gap: 10px
    }

    .shopcategory-indexSort{
      margin: 0px 20px;
    }
}